body, html {
    background-color: white;
    font-family: "Century Gothic","Apple Color Emoji", Times New Roman;
}

#container {
    margin-top: 100px;
}

#page {
    background-color: white;
    border: 0.1em solid black;
}

#entete {
    color: white;
    border-collapse: separate;
}

#entete #logoGSB {
    float: left;
}

#param {
    text-align: left;
    padding: 20px;
}

#param .form-control {
    width: 10%;
    display: initial;
    color: green;
    font-size: 1.2em;
}

#validfrais {
    width: 65%;
    text-align: left;
}

form #validfrais {
    float: left;
    padding: 20px;
}

#formulaire {
    padding: 30px;
    text-align: center;
    border-radius: 10px;
}

#entete h1 {
    float: right;
    padding-left: 50px;
}

.input-group {
    width: max-content;
}

form {
    text-align: -webkit-center;
}

table {
    width: auto;

}

#contenu {
    border: none;
    padding: 0em 1.3em 1.3em 1.3em;
    background-color: white;
    border-left: groove 15px #007bff;
    margin-left: 18%;
}

#menu {
    margin-top: 0.8em;
    padding-top: 1em;
    background-color: white;
    color: rgb(0, 85, 227);
    float: left;
    width: 270px;
}

/*  Le texte des messages d'erreur est de couleur rose sur fond ocre et de
taille de caract�res l�g�rement sup�rieure � la normale */
.erreur {
    background-color: #dc3545;
    color: white;
    border-radius: 10px;
    padding: 10px;
    font-size: larger;
}

.form-row > .col, .form-row > [class*=col-] {
    text-align: left;
}

.inf-content{
    border:1px solid #DDDDDD;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    border-radius:10px;
    box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.3);
}		

